{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='form.css')}}">
{% endblock %}

{% block title %}
{% if article %}
{{ article[0] }}
{% else %}
Flask App
{% endif %}

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
{% endblock %}

{% block content %}
<div class="row">
    {% if article %}
    <p style="font-size: 45px; font-family : 'Times New Roman', Times, serif;">{{ article[0] }}</p>
    <blockquote class="blockquote">
    <p>
        {{ article[1] }}
    </p><br/>
    <footer class="blockquote-footer">
        {{ article[2] }}</footer>
    </blockquote>
    {% else %}
    <h4 style="color:brown">
        Invalid Article
    </h4>
    {% endif %}
</div>

<div>
    <a class="btn btn-info" href="{{ url_for('index') }}">Back</a>
</div>
{% endblock %}
