nav {
    background-color: rgb(19, 57, 249);
    box-shadow: 0 2px 5px grey;
    margin-bottom: 30px;
  }
  .container-fluid #nav-title {
    color: #eaddca;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-left: 20px;
  }
  span,
  nav a {
    color: #eaddca;
    text-decoration: none;
    padding: 10px;
  }
  span {
    color: #eaddca;
  }
  nav a:hover {
    color: #ffffff;
    text-decoration: underline;
  }